{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        // "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@middleware": "./src/middleware",
          "@services": "./src/services",
          "@config": "./src/config",
          "@microservices": "./src/microservices"
        }
      }
    ]
  ]
}
